#encabezado-tabla{
    background: red;   
}

.navbar-nav > a {
    font-size: 1em;
    left: 50%; 
    color: orange;  
    white-space: nowrap;
    
}

.navbar-nav > a:hover {
    color: orange;
    text-shadow: 0 0 10px #FFFFFF,
                 0 0 20px #FFFFFF,
                 0 0 40px #FFFFFF,
                 0 0 80px#FFFFFF;
}

#titulo-header > p {
    font-family: Chiller;
    font-size: 2em;
    color: yellow;
    text-align: center;    
    
        
}

#titulo-header > p:hover {
    color: yellow;
    text-shadow: 0 0 10px #FFFFFF,
                 0 0 20px #FFFFFF,
                 0 0 40px #FFFFFF,
                 0 0 80px #FFFFFF;
                 
}

@media (max-width: 1000px){
    .titulo-header > p{
        font-family: Chiller;
        color: yellow;
        text-align: center;
    } 

    .img-logo{
        height: 30rem;
        width: 25rem;
    }
}

#redes-nav{
    text-align: right;
    margin-right: 50px;   
}

.img-card{    
    text-align: center;
    height: 100%;
    width: 100%;    
}

.col{
    text-align: center;
    margin: 0.5rem;
}


.icon-oferta{
    font-size: 1.2em;
    color: red;
}

.precio-oferta{
    font-weight: bold; 
    
}

.precio-anterior{
    color: gray;
    text-decoration: line-through;
}

.text-titulo{
    color: black;
    font-weight: bold; 
}

.text-titulo-pagina{
    font-size: 2.5em;
    
}

.img-producto{
    height: 170px;
    width: auto;
}


.desc-carrusel{
    color: black;
    font-size: 1em;
    font-weight: bold;
}